.ChatBot {
  &-Wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  &-Messages {
    background-color: #ccf;
    margin: 0 10px -20px;
    border-radius: 10px;
    padding: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: 600px;
      max-height: 650px;
      overflow: auto;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 5px;
        img {
          max-width: 35px;
          margin-right: 10px;
          background-color: #eef;
          padding: 5px;
          border-radius: 10px;
        }
        p {
          padding: 10px;
          border-radius: 5px;
          background-color: #fff;
          margin: 0;
          flex-grow: 1;
          img {
            max-width: 512px;
            margin: 0;
            background-color: transparent;
            padding: 0;
          }
        }
        &.Guest {
          img {
            order: 2;
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }
    form {
      margin-top: 15px;
      input {
        border-radius: 5px;
        border: none;
        padding: 10px;
        display: block;
        width: 100%;
        background-color: #eef;
        &:focus {
          box-shadow: none;
          outline: none;
          background-color: #fff;
        }
      }
    }
  }
  &-Trigger {
    text-align: right;
    img {
      cursor: pointer;
      width: 75px;
      padding: 10px;
      background-color: #ddf;
      border-radius: 100%;
      margin: 25px;
    }
  }
}
